html, body {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: #323232;
}

header nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav ul li {
  color: whitesmoke;
  padding: 15px;
  font-size: 20px;
}

header nav ul li .fas {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

header nav ul li .fas:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header nav ul li:hover {
  color: #646464;
  -webkit-transform: scale(1);
          transform: scale(1);
}

aside {
  margin: 0px;
  width: 300px;
  translate: -330px 0px;
  -webkit-transition-property: translate;
  transition-property: translate;
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

aside .lateral {
  margin: 0px;
  height: 100vh;
  background-color: #646464;
}

aside .lateral ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

aside .lateral ul li {
  color: whitesmoke;
  padding: 1em;
  opacity: 0;
  translate: -200px 0px;
  -webkit-transition-property: translate, opacity;
  transition-property: translate, opacity;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

aside .lateral ul li.elemento1 {
  opacity: 1;
  translate: 0px 0px;
  -webkit-transition-property: translate, opacity;
  transition-property: translate, opacity;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

aside .lateral ul li.elemento2 {
  opacity: 1;
  translate: 0px 0px;
  -webkit-transition-property: translate, opacity;
  transition-property: translate, opacity;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

aside .lateral ul li.elemento3 {
  opacity: 1;
  translate: 0px 0px;
  -webkit-transition-property: translate, opacity;
  transition-property: translate, opacity;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

aside .lateral ul li:hover {
  background-color: #707070;
}

aside.active {
  margin: 0px;
  translate: 0px 0px;
  -webkit-transition-property: translate;
  transition-property: translate;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
/*# sourceMappingURL=main.css.map */