html, body{
   margin:10px;
    font-family: monospace;
    font-size: 15px;
    background-color: #262626;
    color: #D9D9D9;
}

.main{
    height: 100vh;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#selector_1{
    .nav_container{
        width: 350px;
        nav{
            color: #262626;
            ul{
                list-style: none;
                margin:0px;
                padding: 0;
                li{
                    padding: 1.5em 5px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    
                    &.btn_dropmenu{
                        border: 1px solid rgb(53, 52, 52);
                        border-radius: 5px;
                        background-color: #D9D9D9;
                        transition-property: border, background-color;
                        transition-duration: 500ms;
                        transition-delay: 200ms;
                        transition-timing-function: ease;
                    }
    
                    svg.arrow{
                        width: 10px;
                        height: 10px;
                        padding: 0.25em 5px;
                        rotate: 0deg;
    
    
                        transition: rotate;
                        transition-duration: 300ms;
                        transition-delay: 100ms;
                        transition-timing-function: ease;
                    }
    
                    svg.calendar{
                        width: 10px;
                        height: 10px;
                        padding: 0.25em 5px;
                    }
    
                    &.focus{
                        border:3px solid rgb(157, 12, 12);
    
                        transition-property: border;
                        transition-duration: 100ms;
                        transition-delay: 0;
                        transition-timing-function: ease;
    
                        svg.arrow{
                            rotate: -180deg;
                            transition: rotate;
                            transition-duration: 200ms;
                            transition-delay: 0;
                            transition-timing-function: ease;
                        }
                    }
    
    
    
    
                }
                
    
                
            }
            
        }
    }
    
    .dropmenu{
        width: 350px;
        height: 0;
        margin-top:3px;
    
        translate: 0px -100px;
        opacity: 0;
        visibility: hidden;
    
        transition: translate, opacity, visibility;
        transition-duration: 450ms;
        transition-delay: 200ms;
        transition-timing-function: ease-in;
    
        &.active{
            translate: 0px 0px;
            opacity: 1;
            visibility: visible;
            
            transition: translate, opacity visibility;
            transition-duration: 450ms;
            transition-delay: 0;
            transition-timing-function: ease;
        }
    
        ul{
            list-style: none;
            padding: 0px;
            margin:0 2px;
            box-shadow: 0 0 5px black;
            border-radius: 5px;
            li{
                border-bottom: 1px solid black;
                padding: 1em;
                color: black;
                opacity: 0;

        background-color: #D9D9D9;
    
                transition-property: opacity;
                transition-delay: 50ms;
                transition-duration: 200ms;
                transition-timing-function: ease;
    
                &:last-child{
                    border-bottom: none;
                }
    
                &:hover{
                    background-color: #262626;
                    color:#D9D9D9;
                }
    
                &.effect{
                opacity: 1;
                transition-property: opacity;
                transition-delay:0ms;
                transition-duration: 200ms;
                transition-timing-function: ease;
                }
            }
        }
    }
}

#selector_2{
    .nav_container_hvr{
        width: 350px;
        nav{
            ul{
                list-style: none;
                margin:0px;
                padding: 0;
                .hvr_dropmenu{
                    padding: 1.5em 5px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    border: 1px solid gray;
                    border-radius: 5px;
                    background-color: #262626;
                    transition-duration: 500ms;
                    transition-delay: 200ms;
                    transition-timing-function: ease;

                    .label_calendar{
                        position: unset;
                        top: em;
                        background-color:transparent;
                        padding: 0px;
                        border-radius: 0px;
                        color: #D9D9D9;

                        transition-property: position, background-color, padding, border-radius, color;
                        transition-duration: 200ms;
                        transition-delay: 200ms;
                        transition-timing-function: ease;
                    }
            
                    &:hover{
                        border:3px solid rgb(37, 42, 174);
                        transition-property:border;
                        transition-duration: 500ms;
                        transition-timing-function: ease;
                        transition-delay: 0ms;                    
                        }
                    
    
                    svg{

                     fill: #D9D9D9;  


                        &.arrow{
                            width: 10px;
                            height: 10px;
                            padding: 0.25em 5px;
                            rotate: 0deg;
        
        
                            transition: rotate;
                            transition-duration: 300ms;
                            transition-delay: 100ms;
                            transition-timing-function: ease;
                        }



                        &.calendar{
                            width: 25px;
                            height: 25px;
                            transform: scale(1);
                            
                            
                            transition: transform;
                            transition-duration: 200ms;
                            transition-delay: 0;
                            transition-timing-function: ease;
                        }
                    }
                    


                    div{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 10px;
                    }
    

    
                    &.focus{
                        border:2px solid rgb(77, 56, 179);
                        
    
                        transition-property: border;
                        transition-duration: 200ms;
                        transition-delay: 100;
                        transition-timing-function: ease;

                        .label_calendar_active{
                            position: relative;
                            top: -3em;
                            left: -1em;
                            background-color:#262626;
                            padding-left: 10px;
                            padding-right: 10px;
                            border-radius: 1px;
                            color:rgb(77, 56, 179);

                            font-size: 12px;

                            transition-property: position, background-color, padding, border-radius, color;
                            transition-duration: 350ms;
                            transition-delay: 50;
                            transition-timing-function: ease-in;
                        }
    
                        svg{

                            &.arrow{
                                rotate: -180deg;
                                transition: rotate;
                                transition-duration: 200ms;
                                transition-delay: 0;
                                transition-timing-function: ease;
                            }
    
                            &.calendar{
                                transform: scale(0.85);
                            
                                transition: transform;
                                transition-duration: 200ms;
                                transition-delay: 0;
                                transition-timing-function: ease;
                            }


                        }
                        
                    }
    
    
    
    
                }
                
    
                
            }
            
        }
    }
    
    .dropmenu_hvr{
        width: 350px;
        height: 0;
        margin-top:3px;
    
        translate: 0px +100px;
        opacity: 0;
        visibility: hidden;
    
        transition: translate, opacity, visibility;
        transition-duration: 450ms;
        transition-delay: 200ms;
        transition-timing-function: ease-in;
    
        &.active{
            translate: 0px 0px;
            opacity: 1;
            visibility: visible;
            
            transition: translate, opacity visibility;
            transition-duration: 450ms;
            transition-delay: 0;
            transition-timing-function: ease;
        }
    
        ul{
            list-style: none;
            padding: 0px;
            margin:0 2px;
            box-shadow: 0 0 5px black;
            border-radius: 5px;

            background-color: #D9D9D9;
            li{
                border-bottom: 1px solid black;
                padding: 1em;
                color: black;
                opacity: 0;
    
                transition-property: opacity;
                transition-delay: 50ms;
                transition-duration: 200ms;
                transition-timing-function: ease;
    
                &:last-child{
                    border-bottom: none;
                }
    
                &:hover{
                    background-color: rgb(162, 162, 162);
                }
    
                &.effect{
                opacity: 1;
                transition-property: opacity;
                transition-delay:0ms;
                transition-duration: 200ms;
                transition-timing-function: ease;
                }
            }
        }
    }
}